.roundedBdr {
  border-radius: 12px;
}

.pad10 {
  padding: 10px;
}

.txtBold {
  font-weight: bold;
}

.window {
  background-color: white;
  margin-left: 3%;
  margin-right: 3%;
  padding: 2%;
}

header {
  background: rgb(1, 22, 56);
  background: -moz-linear-gradient(123deg, rgba(1, 22, 56, 1) 0%, rgba(46, 41, 78, 1) 25%, rgba(1, 22, 56, 1) 100%);
  background: -webkit-linear-gradient(123deg, rgba(1, 22, 56, 1) 0%, rgba(46, 41, 78, 1) 25%, rgba(1, 22, 56, 1) 100%);
  background: linear-gradient(123deg, rgba(1, 22, 56, 1) 0%, rgba(46, 41, 78, 1) 25%, rgba(1, 22, 56, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011638", endColorstr="#011638", GradientType=1);
  padding-left: 10%;
  color: white;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
}

.col1 {
  width: 50%;
  background-color: #D499B9;
}

label {
  width: 25px;
  flex-grow: 1;
  font-weight: bold;
}

.inputBar {
  flex-grow: 4;
  border-radius: 5px;
  border: none;
  padding: 3px;
}

.btn {
  background-color: #031739;
  border-radius: 25px;
  border: none;
  padding: 5px 8px;
  margin: 2%;
  margin-top: 4%;
  text-align: center;
  font-weight: bold;
  color: white;
}