.roundedBdr {
  border-radius: 12px;
}

.pad10 {
  padding: 10px;
}

.window {
  background-color: white;
  margin-left: 3%;
  margin-right: 3%;
  padding: 2%;
}

header {
  background: rgb(1, 22, 56);
  background: -moz-linear-gradient(123deg, rgba(1, 22, 56, 1) 0%, rgba(46, 41, 78, 1) 25%, rgba(1, 22, 56, 1) 100%);
  background: -webkit-linear-gradient(123deg, rgba(1, 22, 56, 1) 0%, rgba(46, 41, 78, 1) 25%, rgba(1, 22, 56, 1) 100%);
  background: linear-gradient(123deg, rgba(1, 22, 56, 1) 0%, rgba(46, 41, 78, 1) 25%, rgba(1, 22, 56, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011638", endColorstr="#011638", GradientType=1);
  padding-left: 10%;
  color: white;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
}

.col1 {
  flex-grow: 1;
  background-color: #D499B9;
}